.top-bar {
    display: flex;
    min-height: var(--system-7xl, 72px);
    padding: 0px var(--system-s, 24px);
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
}

.top-bar h1{
    margin: 0;
}