.right-panel {
    display: flex;
    width: 376px;
    min-width: 376px;
    height: 100%;
    padding: 32px;
    padding-top: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: -45px;
    align-self: stretch;
    border-radius: 0px var(--m, 24px) 0px 0px;
    background: var(--white-white, #FFF);
}